@use "@/app/styles/breakpoints" as *;

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  transition: all 0.3s ease;
  max-height: 100vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}


// Горизонтальный список (лента)
.listView {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

// Настройка размеров карточек в listView
.listView > * {
  margin-right: 20px;
  min-width: 200px; // Минимальная ширина карточки
}

