.root {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  gap: 12px;
  padding: 10px;
  background-color: var(--color-black-background);
  border-radius: 8px;
}

.tab {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background 0.3s ease, color 0.3s ease;
  font-weight: 500;
  color: var(--color-white);

  &:hover {
    background-color: var(--color-black-background);
  }
}

.active {
  font-weight: bold;
  color: #007bff;
  border-bottom: 2px solid #007bff;
}
