.root {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  position: sticky;
  top: 0;
  background: var(--color-black-background);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 10;

  .authText {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: var(--color-white);
    width: 120px;
  }
}
