.root {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  position: sticky;
  top: 0;
  background: white;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  .authText {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #040404;
    width: 120px;
  }
}

/* Анимации для перехода */
.slide-enter-active, .slide-leave-active {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.slide-enter-from {
  transform: translateY(-100%);
  opacity: 0;
}

.slide-enter-to {
  transform: translateY(0);
  opacity: 1;
}

.slide-leave-from {
  transform: translateY(0);
  opacity: 1;
}

.slide-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}
